*.cpp linguist-language=C++
*.h linguist-language=C++

* linguist-detectable=true

*.txt linguist-detectable=false
*.csv linguist-detectable=false
*.parquet linguist-detectable=false
*.json linguist-detectable=false